<!-- main.hbs-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nuit Noir</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
    {{{body}}}
</body>
</html>